<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
</head>
<body>
<div id="app">
    <input v-model="newItem" type="text" placeholder="Add Element"/>
    <button @click="addElement()">{{buttonLabel}}</button>
    <ul>
        <li v-for="item of items">
            <input type="checkbox" v-show="delete" @click="doneElement(item)"/>
            <div :key="item">{{item}} </div>
            <button v-show="delete" @click="deleteElement(item)"> delete</button>
        </li>
    </ul>
</div>
    <script type='text/javascript'>
        const app = new Vue({
            el: "#app",
            data: {
                buttonLabel: "add",
                items: [],
                newItem: '',
                delete: false,
                ischecked: false
            },
            methods: {
                addElement() {
                    let id = this.items.length+1;
                    if (this.newItem !== '') {
                        this.items.push(this.newItem)
                        this.delete = true
                    }
                },
                deleteElement(item) {
                    this.items.splice(this.items.indexOf(item), 1);
                },
                doneElement(item) {
                }
            }
    })
    </script>

</body>
</html>